<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Signup</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</body>
</html> -->
{% load static %}
<link rel="stylesheet" href="{% static 'videoapp/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Signup</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="auth-page">
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="auth-button">Login</button>
        </form>
        <p>Are you an Artist? <a href="{% url 'artist_login' %}">Login as Artist</a></p>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    </div>
</body>
</html>
